
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>

<h1> TP HTML :Titre de niveau 1 </h1>

<h2>  Exercice 1 : Votre première page HTML :Titre de niveau 2 </h2>
<h3> Titre de niveau 3 </h3>
  <p> Texte en <b> gras </b>, texte en <i> italique </i>, texte <u> souligné </u></p>
  <p> lien vers <a href="actualite.html"> </a> </p>
  <p> Ecrivez-moi à  <a href="spastore2@free.fr">  </a> </p>
<ol>
  <li> item 1  </li>
  <li> item 2  
      <ul>
         <li> element 1  </li>
         <li> element 2   </li>
      </ul>
    
  </li>
  <li> item 3  </li>
</ol>
<h3> Titre de niveau 3 </h3>
<h2> Titre de niveau 1 </h2>

<h1> Titre de niveau 2 </h1>

<h2>  Exercice 2: Composez une page ressemblant à l'image suivante  </h2>
  <p> Voici la première partie </p>

<table border="2">
  <tr>
    <td style="width: 150px; height: 50px;">un tableau</td>
    <td style="width: 150px; height: 50px;"></td>
    <td style="width: 150px; height: 50px;"> </td>
  </tr>
  <tr>
    <td style="width: 150px; height: 50px;"></td>
    <td style="width: 150px; height: 50px;">à 6</td>
    <td style="width: 150px; height: 50px;">cases</td>
  </tr>
</table>

 <p> Voici la deuxième partie </p>
  <p style="color:brown;"> Une liste </p>
<ol> 
  <li>premier point  </li>

    <ul> 
        <li> rubrique 1</li>
        <li> rubrique 2</li>
    </ul>
   <li> 2e point  </li>
   <li>3e point  
     <ul> 
     <li> rubrique 1</li>
     <li> rubrique 2</li>
     </ul>
  </li>
</ol>

<p> Voici la troisième partie </p>

<table border="2">
  <tr>
    <td style="width: 150px; height: 50px;">un autre tableau</td>  
    <td style="width: 150px; height: 50px;"> </td>
    <td style="width: 150px; height: 50px;"></td>
    <td colspan="2"style="width: 75px; height: 25px;"></td>    
  </tr>
  <tr>
    <td rowspan="3" style="width: 150px; height: 50px;"></td> 
    <td style="width: 150px; height: 50px;"> </td>
    <td rowspan="3" style="width: 150px; height: 50px;"></td>
    <td colspan="2" style="width: 75px; height: 25px;"> </td>     
  </tr>
   <tr>
    <td style="width: 150px; height: 50px;"></td>     
    <td style="width: 75px; height: 25px;"></td>
    <td style="width: 75px; height: 25px;"></td>
  </tr>
   <tr>
    <td style="width: 150px; height: 50px;"></td>
    <td colspan="2" style="width: 75px; height: 25px;"></td>   
  </tr>
</table>

<h2> Exercice 3 : Un formulaire avec plein de choses !  </h2>
  <p> Formulaire </p>
<form action="/submit" method="post">
    <label for="pseudo">Votre pseudo :</label>
    <input type="text" id="pseudo" name="pseudo" required style="margin-left: 100px;"><br><br>

    <label for="motdepasse">Votre mot de passe :</label>
    <input type="password" id="motdepasse" name="motdepasse" required style="margin-left: 60px;"><br><br>

    <label for="confirmation_mdp">Ressaisir votre mot de passe :</label>
    <input type="password" id="confirmation_mdp" name="confirmation_mdp" required><br><br>

   <label for="os_prefere">Système d'exploitation préféré :</label>
      <input type="radio" id="windowsxp" name="os_prefere" value="windowsxp">
      <label for="windowsxp">Windows XP</label><br>
      <input type="radio" id="windowsvista" name="os_prefere" value="windowsvista" style="margin-left: 212px;">
      <label for="windowsvista">Windows Vista</label><br>  
      <input type="radio" id="macosx" name="os_prefere" value="macosx" style="margin-left: 212px;">
      <label for="macos">MacOS X</label><br>
      <input type="radio" id="linux" name="os_prefere" value="linux" style="margin-left: 212px;">
      <label for="linux">Linux</label><br>
      <input type="radio" id="autre" name="os_prefere" value="autre" style="margin-left: 212px;">
      <label for="autre">Autre</label><br><br>

  <label for="os_prefere"> Vous possédez :</label> 

      <input type="checkbox" id="ordinateur" name="os_prefere" value="ordinateur">
      <label for="ordinateur"> Un ordinateur de bureau </label><br>      
      <input type="checkbox" id="portable" name="os_prefere" value="portable" style="margin-left: 110px;">
      <label for="portable"> Un portable </label><br>      
      <input type="checkbox" id="netbook" name="os_prefere" value="netbook" style="margin-left: 110px;">
      <label for="netbook"> Un netbook </label><br>      
      <input type="checkbox" id="tablette" name="possede" value="tablette" style="margin-left: 110px;">
      <label for="tablette"> Une tablette (Pad) </label><br><br> <br> 
     
    
 <div><label for="os_prefere" > Votre profession  :</label> </div> 
    <select id="os_prefere" name="os_prefere" size ="5" style="margin-left: 120px;" >
        <option value="chomeur"> Chômeur </option>
        <option value="etudiant"> Etudiant </option>
        <option value="fonctionnaire"> Fonctionnaire </option>
        <option value="prive"> Privé </option>
        <option value="retraite"> Retraité </option><br>         
    </select><br> <br> 
      <button type="submit" style="background-color: gray; color: white; padding: 10px 20px; margin-left: 150px; border-radius: 5px;"> S'inscrire ! </button>
</form>

<h2>Exercice 4 : Réalisez un mini site comprenant votre CV selon le descriptif suivant:</h2>

  <title>Mon CV</title>

  <h3 style="text-align: center;">CV étudiante CNAM</h3>

    <table border="1" cellpadding="10" cellspacing="0" >
    <tr>
      <td style="width: 250px; height: 50px;">Prénom<br>Nom<br> adresse: <br>Date de naissance : <br></td>
      <td colspan="2" style="width: 225px; height: 25px;">Imane<br>NAJJAHI<br>11 BD DE LA RESISTANCE<br>10/07/2001 <br></td>
      <td style="width: 225px; height: 25px;"><a style="width: 100;" href="../static/img/avatar.png"></a></td>
      
    </tr><br> 
    <tr><td><br><b>Formation</b></td></tr>     
    <tr>
      <td> 
        <ul>
          <li> 2020-2022 : </li>
          <li> 2008-2010 : </td></li>
        </ul>
      </td>
      <td> Diplome de developpeuse web / Web mobile<br> Master en microfinance et developpement durable<br></td> 
      </tr>
      <tr><td><br><b>Experiences professionnelles</b></td></tr>  
      <tr>
        <td> 
          <ul>            
            <li> 2022-2024 :</li>
            <li> 2005-2019 :<br></td></li>
            
          </ul>
        </td>
        <td> Developpeuse Web chez Colombbus<br> Chargee de relations client au sein de la banque AWB <br>
        </tr>
        <tr><td><br><b>Compétences</b></td></tr> 
        <tr>
          <td> 
            <ul> 
              <li> 2003-2007 : </li>
              <li> 2002-2004 : </li>
            </ul>
          </td>
                              
          <td> Maîtrise des langages de programmation : HTML, CSS, JS, Python<br> Connaissance des bases de données SQL et NoSQL<br></td> 
          </tr>
          <tr><td><br><b>Informations complémentaires</b></td></tr> 
          <tr>
            <td> 
              <ul> 
                <li> 2020-2022 : </li>
                <li> 2008-2010 : </td></li>
              </ul>
            </td>
            <td> Langues : Français(courant), Arabe (natif), Anglais(intermédiaire)<br>Loisirs : Sport, lecture, voyage  <br></td> 
            </tr>

            
  
</body>
</html>

